@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@layer base {
  :root {
    --font-sans: "Noto Sans KR", sans-serif;
    --pm-background: #ffffff;
    --pm-background2: #f3f8fc;
    --pm-foreground: #171717;
    --pm-foreground2: #6d6d6d;
    --pm-reverseForeground: #ffffff;
    --pm-signature: #0f9bff;
    --pm-error: #ff3f2d;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@theme {
  --font-family: var(--font-sans);
  --color-background: var(--pm-background);
  --color-background2: var(--pm-background2);
  --color-foreground: var(--pm-foreground);
  --color-foreground2: var(--pm-foreground2);
  --color-reverseForeground: var(--pm-reverseForeground);
  --color-signature: var(--pm-signature);
  --color-error: var(--pm-error);
}

html {
  @apply text-foreground bg-background;
}

body,
#root {
  @apply font-sans antialiased h-screen w-screen overflow-hidden;
}

* {
  @apply box-border;
}

a {
  @apply no-underline;
}

@keyframes mist {
  0% {
    transform: translateX(-50%) translateY(-40%) scale(1.2);
    opacity: 0.2;
  }
  50% {
    transform: translateX(20%) translateY(30%) scale(1.4);
    opacity: 0.3;
  }
  100% {
    transform: translateX(50%) translateY(40%) scale(1.2);
    opacity: 0.2;
  }
}

.animate-mist {
  animation: mist 12s infinite alternate ease-in-out;
  filter: blur(50px);
}
